.services_main {
    padding: 50px 0px;
    font-family: 'poppins';
    background-image: url('../../assets/images/contact_bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;

    .build_strong_nft_img_container {
        img {
            width: 100%;
            max-width: 100%;
        }
    }

    .build_strong_nft_text_container {
        h3 {
            font-size: 35px;
            padding-bottom: 30px;
        }

        span {
            border-bottom: 3px solid #0364BD;
        }

        p {
            font-weight: 500;
            color: black;
            font-size: 15px;
        }
    }

    .discover_collect_container {
        display: flex;
        justify-content: center;
        width: 100%;
        flex-flow: wrap;

        h3 {
            font-size: 35px;
            font-weight: 600;
            padding: 30px;
        }

        .cards_container{
            padding: 50px 0px;
       
        }

        .card {
            border-radius: 15px;
            height: 100%;
            width: 18rem;
            position: relative;

            .rounded_container {
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: white;
                width: 121px;
                left: 0px;
                right: 0px;
                height: 120px;
                top: -42px;
                border-radius: 100px;
                margin: 0 auto !important;
                box-shadow: #ccd1d6 2px 0px 15px;

                .inner_round {
                    width: 99px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 98px;
                    border-radius: 50px;
                    text-align: center;
                    background: #F4F8FC;
                }
            }

            .card-title {
                font-weight: bold;
                font-size: 20px;
            }

            span {
                font-weight: 500;
                font-size: 16px;

            }

            .card-text {
                font-size: 14px;
                font-weight: 400;
                color: black;
                padding-top: 10px;
            }

            button {
                background-color: #0364BD;
                padding: 7px 20px;
                border: 1px solid #0364BD;
                color: white;
                border-radius: 15px;
                font-family: 'poppins';
                transition: all .5s ease;

                &:hover {
                    background-color: white;
                    color: #0364BD;
                }
            }
        }

    }
}