.teams_inner_main {
    background-image: url('../../assets/images/contact_bg.png');
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'poppins';
    padding: 30px 0px;
    overflow-x: hidden ;

    .crypto_expert {
        text-align: end;
        border-right: 3px solid #0364BD;
        width: 100%;
        padding: 10px 0px;

        h4 {
            font-weight: bold;
            margin-right: 18px;
        }
    }

    .crypto_expert_text {
        padding: 30px 0px;

        p {
            font-size: 15px;
            font-weight: 500;
            color: black;
            margin: 0;
        }
    }

    .teams_main_card {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 90px 30px;

        h3 {
            text-align: center;
            font-size: 25px;
            color: white;
            font-weight: bold;
        }

        p {
            font-size: 14px;
            font-weight: 400;
            text-align: center;
            max-width: 864px;
            color: white;
            font-weight: 500;
            margin-bottom: 0rem !important;
        }



        .teams_cards {
            width: 100%;
            // background-color: #65AFF4;
            background-image: linear-gradient(to top,#65AFF4,#0364BD);
            border-radius: 20px;
            text-align: center;
            padding: 5px 10px;
            margin-right: 30px;
            height: 100%;
            max-width: 360px;
            max-height: 520px;

            .teams_card_text {
                position: relative;
                bottom: 60px;
            }


            .member_avatar {
                width: 100%;
                object-fit: contain;
                position: relative;
                bottom: 70px;
                transition: all 0.5s ease;
                height: 100%;
                max-height: 350px;

                &:hover {
                    transform: translateY(-20px);
                    transition: all 0.5s ease-in-out;
                    cursor: pointer;
                }
            }

            .x_fund_Logo {
                position: relative;
                bottom: 70px;
                width: 180px;
                height: 60px;
                opacity: 0.2;

            }

            .linked_in_container {
                width: 50px;
                height: 50px;
                border-radius: 100px;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                bottom: 20px;
                background-color: white;
                z-index: 1;


                img {
                    width: 15px;
                    height: 15px;

                }
            }
        }
    }

    .join_x_fund_container {
        text-align: center;
        padding-bottom: 20px;


        button {
            background-color: #0364BD;
            padding: 7px 10px;
            border: 1px solid #0364BD;
            color: white;
            border-radius: 10px;
            font-family: 'poppins';
            transition: all .5s ease;

            &:hover {
                background-color: white;
                color: #0364BD;
            }
        }
    }



}